doctype html
html
  head
    title= title
    link(rel='stylesheet',type='text/css',href='/lib/bootstrap/css/bootstrap.css')
    link(rel="stylesheet", type="text/css" ,href="/css/main.css")

  body
    block content
